// #########################################################
// 3. element's size, margins, and padding
// #########################################################
/* 
width: 
min-width:
max-width: 
height: 
min-height:
max-height:
*/
/*
// width wX, min-width minwX, max-width maxwX, height hX, min-height minhX, max-height maxhX, 
// in increments of 1
@mixin componentContainerSize {
  // in Pixels:
  @for $i from 1 through 100 {
      $val: #{$i}unquote("px");
      .width#{$i} {
          width: $val;
      }
      .min-width#{$i}{
          min-width: $val;
      }
      .max-width#{$i} {
          max-width: $val;
      }
      .height#{$i} {
          height: $val;
      }
      .min-height#{$i} {
          min-height: $val;
      }
      .max-height#{$i} {
          max-height: $val;
      }
  }

  // In percentages
  @for $i from 1 through 100 {
      .width#{$i}p {
          width: unquote("#{$i}%");
      }
      .min-width#{$i}p {
          min-width: unquote("#{$i}%");
      }
      .max-width#{$i}p {
          max-width: unquote("#{$i}%");
      }
      .height#{$i}p {
          height: unquote("#{$i}%");
      }
      .min-height#{$i}p {
          min-height: unquote("#{$i}%");
      }
      .max-height#{$i}p {
          max-height: unquote("#{$i}%");
      }
  }
  // In rems:
  @for $i from 1 through 120 {
      .width#{$i}rem {
          width:  #{$i}rem;
      }
      .min-width#{$i}rem {
          min-width: #{$i}rem;
      }
      .max-width#{$i}rem {
          max-width: #{$i}rem;
      }
      .height#{$i}rem {
          height: #{$i}rem;
      }
      .min-height#{$i}rem {
          min-height: #{$i}rem;
      }
      .max-height#{$i}rem {
          max-height: #{$i}rem;
      }
  }
}

// width wX, min-width minwX, max-width maxwX, height hX, min-height minhX, max-height maxhX, 
// in increments of 1
// in px, %, vw, vh, rems, and ems
@include componentContainerSize;
*/

@mixin paddingX($values...) {    
  @each $var in $values {
      padding: #{$var};
  }
}

.paddingX {
  @include paddingX(10px)
}